.container{
    bottom: 15px;
    right: 15px;
    padding: 10px 15px;
    font-size: 1em;
    font-weight: 600;
    z-index: 1000;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s, visibility 1s;
    border-radius: 5px;
    color: #FFF;
}

.show{
    opacity: 1;
    visibility: visible;
}