.tableContainer{
    margin-top: 25px;
}
.controls{
    display: flex;
    align-items: center;
}
.controls > span{
    flex: 1;
    margin-left: 5px;
    font-size: 0.6em;
}
.controls > button{
    width: 130px;
    padding: 5px 15px;
}
.controls select{
    padding: 4px;
    border: 1px solid silver;
    border-radius: 5px;
    margin-right: 15px;
}
.search{
    border: 1px solid silver;
    margin-right: auto;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    background-color: #FFF;
}
.search input{
    outline: none;
    border: none;
    background-color: transparent;
}
/* that modal */
.addUserModal{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.addUserModal > div:nth-child(1){
    flex: 1;
    border-bottom: 1px solid silver;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
.addUserModal > div:nth-child(2){
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 5px 10px;
}
.addUserModal > div > button{
    margin-left: 10px;
}
.userInfo{
    display: flex;
    flex-direction: column;
}
.userList{
    margin-top: 25px;
    height: 300px;
    overflow-y: scroll;
}
.userList > div{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}
.userCard{
    border: 1px solid silver;
    padding: 5px;
    margin: 5px;
    display: flex;
    width: 200px;
    overflow: hidden;
}
.userCard img{
    height: 50px;
    width: 50px;
}
.userCard > div{
    display: flex;
    flex-direction: column;
    padding: 5px;
    cursor: pointer;
}
.userCard > div >span:nth-child(1){
    font-size: 0.7em;
    margin-bottom: 5px;
    font-weight: 600;
}
.userCard > div >span:nth-child(2){
    font-size: 0.6em;
}
.userCard > div >span:nth-child(3){
    font-size: 0.6em;
}