.container{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 900;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s;
}
.modal{
    min-height: 200px;
    min-width: 200px;
    background-color: var(--dominant);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.header{
    padding: 5px;
    display: flex;
    border-bottom: 1px solid silver;
}
.header span{
    flex: 1;
    font-size: 0.8em;
}
.show{
    visibility: visible;
    opacity: 1;
}
.content{
    display: flex;
    flex-direction: column;
    flex: 1;
}