.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: var(--dominant);
    position: relative;
    overflow-x: hidden;
}
.window{
    flex: 1;
    display: flex;
}
.content{
    flex: 1;
    overflow-y: scroll;
    height: 90vh;

}