.container {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10001;
    background-color: var(--dominant);
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 1s;
}

.show {
    visibility: visible;
    opacity: 1;
}
